@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sulphur+Point:wght@300;400;700&display=swap');
.prim-color{
    background-color: black;
}

.custom-text{
    line-height: 36px;
    width: 70%;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
    max-width: 624px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

body{
    font-family: Sulphur Point;
    z-index: -3;
    
    text-justify: inter-word;
 
}

.item-studio {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5716620437237395) 90%, rgba(0,0,0,1) 100%); 
}

.item-art {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.577544396664916) 90%, rgba(255,255,255,1) 100%); 

}

.slide-art {
  position: relative;
  z-index: -1 !important;
  background-color: black;
}

.row, .col{

}

