@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sulphur+Point:wght@300;400;700&display=swap');
.prim-color{
    background-color: black;
}

.custom-text{
    line-height: 36px;
    width: 90%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

body{
    font-family: Sulphur Point;
}

.item-studio {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6111578420430672) 75%, rgba(0,0,0,1) 100%); 
}

.item-art {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.577544396664916) 90%, rgba(255,255,255,1) 100%); 

}

.slide-art {
  position: relative;
  z-index: -1 !important;
}

.row, .col{
    
}

